[submodule "submodules/FreeRTOS-Kernel"]
	path = submodules/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
	branch = smp
[submodule "submodules/pico-sdk"]
	path = submodules/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "submodules/lvgl"]
	path = submodules/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "submodules/tiny-json"]
	path = submodules/tiny-json
	url = git@github.com:rafagafe/tiny-json.git
